
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-underline-offset: 4px;
  padding: 94px 50px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content:left;
}

.header__links-list {
  gap: 33px;
  display: flex;
  list-style: circle;
  white-space: nowrap;
}

.link_active {
  text-decoration: none;
}

.links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  margin: auto;
}

.address__item {
  display: block;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  width: auto;
  white-space: inherit;
  max-width: 240px;
}

.header__address-position{
  align-self: center;
  justify-self: end;
}

.cover {
  display: block;
  margin-bottom: 180px;
  padding: 0 50px 50px 0;
  flex-direction: column;
  background: url(/images/cover.jpg);
  z-index: 1;
  width: inherit;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 115%;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:black;
  opacity: 0.6;
  position: absolute;
}

.cover__title {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color:white;
  letter-spacing: 30px;
  position: relative;
  z-index: 1;
  margin-bottom: 139px;
}

.aligned-text {
  text-align: left;
  display: block;
  position: relative;
  padding: 165px 0 0 50px;
  line-height: 115%;
}

.aligned-text_center {
  display: block;
  text-align: center;
  position: relative;
  padding-right: 10px;
  line-height: 100%;
}

.aligned-text_right {
  text-align: end;
  display: block;
  position: relative;
  line-height: 100%;;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 78px;
  z-index: 1;
}

.cover__description-text {
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
  text-align: center;
  z-index: 1;
  text-align: center;
}

.bet-button{
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 12px 32px;
  z-index: 1;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: 1px solid #fff;
}

.lots {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.lots__heading {
  display: block;
  padding-left: 90px;
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  min-height: 477px;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding: 28px 50px 0px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  display: flex;
  width: 100%;
  position: relative;
}

.card-link {
  display: flex;
  height: auto;
  text-decoration: none;
  background-size: 100%;
}

.card {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
  padding: 50px 40px;
  background-size: cover;
}

.card__title {
  display: flex;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card_type_film {
  background: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background: url(/images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-underline-offset: 4px;
  padding-left: 90px;
}

.card_text {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  z-index: 1;
}

.about {
  display: flex;
  margin: 181px 0 90px;
  height: auto;
  width: 100%;
  padding: 0 50px 0 145px;
  gap: 120px;

}

.about__logo-item {
  display: flex;
  width: 240px;
  height: 240px;
  padding: 0 46px;
  align-self: flex-start;
  border-radius: 50%;
  background-color: #000;
  position: relative;
  z-index: 1;
}

.about__logo-item-image {
  display: block;
  width: 148px;
  height: 114px;
  margin: auto;
} 

.about__column-article {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.about__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 75px;
  align-self: self-start;
}

.about__text {
  margin-top: 27px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: flex-end;
}

.footer__address {
  display: block;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  width: auto;
  position: relative;
  white-space: inherit;
  max-width: 240px;
  align-self: center;
}

.footer__links-list {
  display: block;
  text-align: center;
  list-style: circle;
  white-space: nowrap;
  position: relative;
  align-self: self-start;
  list-style-type: none;
}

.footer__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list {
  display: inline-flex;
  justify-self: end;
  position: relative;
  align-self: self-start;
  gap: 48px;
}

.social-list-item {
  display: flex;
  height: 48px;
}

.social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.social-icon-yt {
  background: url(/images/yt.svg);
}

.social-icon-vk {
  background: url(/images/vk.svg);
}

.social-icon-pinterest {
  background: url(/images/pinterest.svg);
}